body {
    background-color: lightblue;
    font-family: 'Poppins', sans-serif;
}
/* img{
    border: 2px solid orange;
}
div.tile {
    border: 3px solid green;
} */
h1 {
    color: red
}
h2 {
    color:brown
}

.navbar > a {
    color: greenyellow;
    text-decoration: none;
}
.navbar > a:hover {
    color: yellow;
}
#cake1.img {
    width: 500px;
    border: 3px solid blue;
}